<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.HomePageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModuleDataHarrisburgServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.ModuleDataHarrisburgServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModuleDataYorkServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.ModuleDataYorkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModuleDataHersheyServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.ModuleDataHersheyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModuleDataLancasterServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.ModuleDataLancasterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModuleListServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.ModuleListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddModuleServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.AddModuleServlet</servlet-class>
  </servlet>
  
  <!-- AJAX servlets. -->
  <servlet>
    <servlet-name>ModuleDataAjaxServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.GroupAQM.servlet.ajax.ModuleDataAjaxServlet</servlet-class>
  </servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/homePage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleDataHarrisburgServlet</servlet-name>
    <url-pattern>/moduleDataHarrisburg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleDataYorkServlet</servlet-name>
    <url-pattern>/moduleDataYork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleDataHersheyServlet</servlet-name>
    <url-pattern>/moduleDataHershey</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleDataLancasterServlet</servlet-name>
    <url-pattern>/moduleDataLancaster</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModuleListServlet</servlet-name>
    <url-pattern>/moduleList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddModuleServlet</servlet-name>
    <url-pattern>/addModule</url-pattern>
  </servlet-mapping>
  
  <!--  AJAX servlet mappings. -->
  <servlet-mapping>
    <servlet-name>ModuleDataAjaxServlet</servlet-name>
    <url-pattern>/ajax/moduleData</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>homePage.html</welcome-file>
  </welcome-file-list>
</web-app>
